{% load staticfiles %}
<html>
<head>
<script type="text/javascript" src="{% static "js/d3.v2.js" %}"></script>
<script	type="text/javascript" src="{% static "js/jquery.js" %}"></script>
<link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
<div class="chart"></div>
<script>
var hasHTML5 = false;
var lat, lon;
if (navigator.geolocation) {
  var timeoutVal = 10 * 1000 * 1000;
  navigator.geolocation.getCurrentPosition(
    displayPosition, 
    displayError,
    { enableHighAccuracy: true, timeout: timeoutVal, maximumAge: 0 }
  );
}
else {
  alert("Geolocation is not supported by this browser");
}

function displayPosition(position) {
	hasHTML5 = true;
	lat = position.coords.latitude;
	lon = position.coords.longitude;
 // alert("Latitude: " + position.coords.latitude + ", Longitude: " + position.coords.longitude);
}

function displayError(error) {
  var errors = { 
    1: 'Permission denied',
    2: 'Position unavailable',
    3: 'Request timeout'
  };
  alert("Error: " + errors[error.code]);
}
(function() {
  var clockGroup, fields, height, offSetX, offSetY, pi, render, scaleHours, scaleMins, scaleSecs, vis, width, radius, green, tweetData;

  fields = function() {
    var currentTime, data, hour, minute, second;
    currentTime = new Date();
    second = currentTime.getMilliseconds()/10;
    minute = currentTime.getMinutes();
    hour = currentTime.getHours() + minute / 60;
    return data = [
      {
        "unit": "seconds",
        "numeric": second
      }, {
        "unit": "minutes",
        "numeric": minute
      }, {
        "unit": "hours",
        "numeric": hour
      }
    ];
  };

  width = $(window).width();
  height = $(window).height();
  offSetX = width/2 - width/30;
  offSetY = height/2 - height/30;
  radius = Math.min(offSetX,offSetY);
  theta = .75;
  tweetData = [{polar: [6,.95]}];
  pi = Math.PI;
  green = "#00FF00";
  
  scaleSecs = d3.scale.linear().domain([1, 99 + 99 / 100]).range([0, 2 * pi]);
  
  vis = d3.selectAll(".chart").append("svg:svg").attr("width", width).attr("height", height);
  clockGroup = vis.append("svg:g").attr("transform", "translate(" + offSetX + "," + offSetY + ")");
  clockGroup.append("svg:circle").attr("r", radius).attr("fill", "none").attr("class", "clock outercircle").attr("stroke", green).attr("stroke-width", 2);
  clockGroup.append("svg:circle").attr("r", 4).attr("fill", green).attr("class", "clock innercircle");
  
  
  var circ = clockGroup.selectAll("ellipse")
		.data(tweetData)
		.enter().append("ellipse");
		
  render = function(data) {
    var hourArc, minuteArc, secondArc;
	//console.log(scaleSecs(data[0].numeric));
    clockGroup.selectAll(".clockhand").remove();
    secondArc = d3.svg.arc().innerRadius(0).outerRadius(radius).startAngle(function(d) {
      return scaleSecs(d.numeric);
    }).endAngle(function(d) {
      return scaleSecs(d.numeric);
    });
    return clockGroup.selectAll(".clockhand").data(data).enter().append("svg:path").attr("d", function(d) {
      if (d.unit === "seconds") {
        return secondArc(d);
      }
    }).attr("class", "clockhand").attr("stroke", green).attr("stroke-width", function(d) {
      if (d.unit === "seconds") {
        return 2;
      }
    }).attr("fill", "none");
  };
  
  function updateData() {

	if (window.XMLHttpRequest) { // code for IE7+, Firefox, Chrome, Opera, Safari
		xmlhttp = new XMLHttpRequest();
	} else { // code for IE6, IE5
		xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
	}
	xmlhttp.onreadystatechange = function () {
		if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
			tweetData2 = xmlhttp.responseText;
			//tweetData2 = [{r: .25, theta: 1.75},{r: .95, theta: .11},{r: .95, theta: 6},{r: .35, theta: 3},{r: .95, theta: 1},{r: .55, theta: 1.5},{r: .15, theta: .31}];
			circ.remove();
			circ = clockGroup.selectAll("ellipse")
				.data(tweetData2)
				.enter().append("ellipse");
		}
	}
	xmlhttp.open("GET", "ping/latitude=" + lat + "&longitude=" + lon, true);
	xmlhttp.send();
  }

  setInterval(function() {
    var data;
    data = fields();
		lineAngle = scaleSecs(data[0].numeric)-1;
		if(data[0].numeric%80 ==0) {
			updateData();
		}
			
	  circ.attr('cx', function(d, i) { return( radius * d.polar[0] * Math.cos(d.polar[1])); })
	  .attr('cy', function(d, i) { return( radius * d.polar[0] * Math.sin(d.polar[1])); })
	  .attr('rx', function(d) {if((2*pi+lineAngle) - d.polar[1] <= 2*pi) { return d.polar[1]-lineAngle+3}else return 2*pi-(lineAngle - d.polar[1])+3;})
	  .attr('ry', function(d) {if((2*pi+lineAngle) - d.polar[1] <= 2*pi) { return d.polar[1]-lineAngle+3}else return 2*pi-(lineAngle - d.polar[1])+3;})
	  .attr('fill', green)
	  .on("click", function() {
			window.location("http://twitter.com/"+d.user.screen_name+"/status/"+d.id);
	  });
	  return render(data);
  }, 20);
}).call(this);

</script>
</body>
</html>
